<html>
<head>
<title>Tweeplies = Twitter + Replies. Results</title>
</head>
<body>
and we are back again! <br/>

<% if @all_reply_links.empty? %>
	Well, we cannot find anything, sorry! <br/><br/>
<% else %>
	Target message: <br/>
	<font color="green">
		"<%= @target[:body] %>" by @<a href="http://twitter.com/<%= @target[:name] %>"><%= @target[:name] %></a> (<a href="<%= @target[:link] %>">direct link</a> or <a href="http://twitter.com/home?in_reply_to=<%= @target[:name] %>&in_reply_to_status_id=<%= @target[:sid] %>&status=%40<%= @target[:name] %>+">reply</a>)
	</font>
	<br/>
	<br/>
	All replies are below: <br/><br/>
	<% @all_reply_links.each do |link_hash| %>
		"<%= link_hash[:body] %>" by @<a href="http://twitter.com/<%= link_hash[:name] %>"><%= link_hash[:name] %></a> (<a href="<%= link_hash[:link] %>">direct link</a> or <a href="http://twitter.com/home?in_reply_to=<%= link_hash[:name] %>&in_reply_to_status_id=<%= link_hash[:sid] %>&status=%40<%= link_hash[:name] %>+">reply</a>) <br/>	
	<% end %>
<% end %>

<br/>
Want to <a href="/">try again</a>? or just tweet <a href="http://twitter.com/home?status=RT+%40alexqwe+Find+replies+to+any+tweet+http%3A%2F%2Ftweeplies.qwe3.com">about us</a>!<br/>

<br/>
<br/>
<br/>
<br/>
<hr/>
Source code is free and available on <a href="http://github.com/westla7/who-replied-to/">GitHub</a>. Just a nice toy from QWE3 Inc.
Tweet <a href="http://twitter.com/home?status=RT+%40alexqwe+Find+replies+to+any+tweet+http%3A%2F%2Ftweeplies.qwe3.com">about us</a>!

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4738966-7");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
