<html>
<head>
<title>Tweeplies = Twitter + Replies. Results</title>
</head>
<body>
and we are back again! <br/>

<% if @all_reply_links.empty? %>
	Well, we cannot find anything, sorry! <br/><br/>
<% else %>
	Target message: <br/>
	<font color="green">
		"<%= @target_body %>" by @<a href="http://twitter.com/<%= @target_name %>"><%= @target_name %></a> (<a href="<%= @target_message %>">direct link</a> or <a href="http://twitter.com/home?in_reply_to=<%= @target_name %>&in_reply_to_status_id=<%= @target_sid %>&status=%40<%= @target_name %>+">reply</a>)
	</font>
	<br/>
	<br/>
	All replies are below: <br/><br/>
	<% @all_reply_links.each do |link| %>
		"<%= @hash_with_body[link] %>" by @<a href="http://twitter.com/<%= @hash_with_name[link] %>"><%= @hash_with_name[link] %></a> (<a href="<%= link %>">direct link</a> or <a href="http://twitter.com/home?in_reply_to=<%= @hash_with_name[link] %>&in_reply_to_status_id=<%= @hash_with_sid[link] %>&status=%40<%= @hash_with_name[link] %>+">reply</a>) <br/>	
	<% end %>
<% end %>

<br/>
Want to <a href="/">try again</a>? or just tweet <a href="http://twitter.com/home?status=RT+%40alexqwe+Find+replies+to+any+tweet+http%3A%2F%2Ftweeplies.qwe3.com">about us</a>!<br/>

<br/>
<br/>
<br/>
<br/>
<hr/>
Source code is free and available on <a href="http://github.com/westla7/who-replied-to/">GitHub</a>. Just a nice toy from QWE3 Inc.
Tweet <a href="http://twitter.com/home?status=RT+%40alexqwe+Find+replies+to+any+tweet+http%3A%2F%2Ftweeplies.qwe3.com">about us</a>!

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4738966-7");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
